body {
  /*padding-top: 61px;  !* Move body of page below navbar. *!*/
}
.ui.inverted.menu {
  margin-top: -6px;
  background-color: #8a8a8a;

}
.img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.login-link-text {
  color: white;
}
.ui.equal.width.form {
  padding-right: 360px;
  padding-left: 360px;
}

